<suite name="SwagLabsSuite">
    <test name="Regression">
        <classes>
            <class name="tests.LoginPageTest"/>
            <class name="tests.CheckoutTest"/>
        </classes>
    </test>

    <!-- Run only Actions group -->
    <test name="ActionsTest">
        <classes>
            <class name="tests.ActionMasterTest"/> <!-- ✅ must match full package name -->
        </classes>
    </test>
</suite>



